<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    
    <script src="https://kit.fontawesome.com/853b12f8a1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    header {
        background-color: #EC715F;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .header-content {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo img {
        width: 150px;
    }
    nav ul {
        list-style-type: none;
        display: flex;
    }
    nav ul li {
        margin-right: 30px;
    }
    nav ul li:last-child {
        margin-right: 30px;
    }
    nav ul li a {
        text-decoration: none;
        color: #fafafa;
        font-size: 16px;
    }
.main-visual {
    height: 650px;
    background-image: url('assets/mv.png');
    background-size: 100% auto;
    text-align: center;
    color: #fafafa;
}

    .main-visual h1 {
        padding-top: 200px;
        font-size: 64px;
        margin: 0;
    }
   .main-visual p {
        margin-top: 10px;
        font-size: 20px;
    }
    main {
        background-color: #ECEFF1;
        padding-top: 90px;
    }
    main-content {
        height: 100%;
        width: 920px;
    }

    .main-content h1 {
        margin: 0;
        text-align: center;
        font-size: 32px;
        color: #000000;
        
    }
.additional-element {
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 70px;
    background-color: #EC715F;
    margin-top: 8px;
    margin-bottom: 30px;
}
.main-content p {
    font-size: 16px;
    width: 920px;
    margin: 0 auto; /* 中央寄せ */

}

.image-grid {
    width: 920px; /* コンテナの幅を920pxに設定 */
    height: auto; /* 高さを自動調整 */
    margin: 0 auto; /* 中央寄せ */
    padding-top: 30px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center; /* コンテナ内のアイテムを中央揃え */
}

.image-grid-item {
    width: 300px;
    height: 250px;
    overflow: hidden; /* 画像を切り抜くためにoverflowをhiddenに設定 */
}

.image-grid-item img {
    width: 100%; /* コンテナに対して100%の幅 */
    height: 100%; /* コンテナに対して100%の高さ */
    object-fit: cover; /* 画像を切り抜いてコンテナにフィットさせる */
}
.main-feature {
    background-color: #fafafa;
    width: 100%; /* コンテナに対して100%の幅 */
}
.main-feature-contena {
    margin: 0 auto; /* 中央寄せ */
    width: 980px; 
}
.main-feature h1 {
        text-align: center;
        margin: 0;
        padding-top: 90px;
}
.main-feature p {
        text-align: center;
    font-size: 16px;
    width: 920px;
    margin: 0 auto; /* 中央寄せ */
}
    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 980px;
    }

    .icon {
        width: 320px;
        text-align: center;
    }

    .icon-container {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-container i {
        font-size: 60px; /* アイコンのサイズ */
    }

    .title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 90px;
    }
.main-profile {
    background-color: #ECEFF1;
}   
.main-profile h1 {
        text-align: center;
        margin: 0;
        padding-top: 90px;
}
.main-profile p {
        margin: 0;
        text-align: center;
}

.container-b {
        margin: 0 auto;
    width: 1024px;
    padding-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
}
.picture {
    width: 512px;
}
.profile-picture {
        margin: 0 auto;
    width: 250px;
    height: 250px;
}

.profile {
      text-align: left;

    width: 512px;
    
}
.profile h1 {
        text-align: center;
} 
.name {
    font-size: 20px;
    font-weight: bold;
    
}
.profile p {
    text-align: left; /* Align text to the left */
    margin-top: 5px;
}
.title {
    font-size: 20px;
    margin-top: 20px;
}
.main-contact {
    background-color: #fafafa;
}
.container-c {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    width: 800px;
    padding-top: 30px;
        padding-bottom: 90px;
}
.mail {
    font-size: 20px;
    text-align: left; /* Align text to the left */
}
.tell {
    margin-top: 20px;
    font-size: 20px;
    text-align: left; /* Align text to the left */
}

.sns {
    width: 400px; /* Adjust width as needed */
    text-align: left; /* Align text to the left */
}

.address {
    width: 400px; /* Adjust width as needed */
}
.mail-address, .tell-number {
    text-align: left; /* Align text to the left */
    padding-top: 5px;
}
.icon2 {
    margin-top: 5px;
}

    .icon2-container i {
        font-size: 60px;
    margin-right: 20px;
    }
</style>

</style>
</head>
<body>

<header>
    <div class="header-content">
        <div class="logo">
            <a class="navbar-brand" href="/"><img src="assets/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="div class="main-content"">Portfolio</a></li>
                <li><a href="#">Feature</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="main-visual">
    <div class="main-visual-content">
        <h1>Lorem Ipsum</h1>
        <p>simply dummy text of the printing</p>
    </div>
</div>

<main>
    <div class="main-content">
        <h1>Portfolio</h1>
        <div class="additional-element"></div>
        
    <p>It islong established fact that a reader will be distracted by the readable
    <br>content of a page when looking at its layout<br>
    The pointof using Lorem Ipsum is has a more-or-less norml distribution of letters</p>
        <div class="image-grid">
            <!-- Repeat the following div block 9 times for each image -->
            <div class="image-grid-item">
                <img src="assets/websuku.png" alt="Image 1">
            </div>
            <div class="image-grid-item">
                <img src="assets/sketch.jpg" alt="Image 2">
            </div>
            <div class="image-grid-item">
                <img src="assets/talk.jpg" alt="Image 3">
            </div>
            <div class="image-grid-item">
                <img src="assets/webcamp-mother.png" alt="Image 4">
            </div>
            <div class="image-grid-item">
                <img src="assets/webcamp.png" alt="Image 5">
            </div>
            <div class="image-grid-item">
                <img src="assets/write.jpg" alt="Image 6">
            </div>
            <!-- Repeat the above div block with different image sources -->
        </div>
    </div>
    <div class="main-feature">
     <div class="main-feature-contena">
        <h1>Feature</h1>
        <div class="additional-element"></div>
    <p>It islong established fact that a reader will be distracted by the readable
    <br>content of a page when looking at its layout<br>
    The pointof using Lorem Ipsum is has a more-or-less norml distribution of letters</p>
<div class="container">
    <div class="icon">
        <div class="icon-container">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="title">Strength1</div>
        <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</div>
    </div>

    <div class="icon">
        <div class="icon-container">
            <i class="fa-solid fa-desktop"></i>
        </div>
        <div class="title">Strength2</div>
        <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</div>
    </div>

    <div class="icon">
        <div class="icon-container">
            <i class="fa-solid fa-gears"></i>
        </div>
        <div class="title">Strength3</div>
        <div class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</div>
    </div>
</div>
    </div>
</div>
<div class="main-profile">
        <h1>Profile</h1>
        <div class="additional-element"></div>
    <p>It islong established fact that a reader will be distracted by the readable
    <br>content of a page when looking at its layout<br>
    The pointof using Lorem Ipsum is has a more-or-less norml distribution of letters</p>
  <div class="container-b">
        <div class="picture">
         <div class="profile-picture">
          <img src="assets/my-icon.jpg">
         </div>
        </div>
        <div class="profile">
            <div class="name">MyName</div>
             <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
             It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
             Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
             </p>
            
            
            <div class="title">MySkills</div>
            <div class="skil">HTML/CSS,JavaScript,JQuery,PhotoShop</div>
        </div>
  </div>
<div class="main-contact">
        <h1>Contact</h1>
        <div class="additional-element"></div>
    <p>It islong established fact that a reader will be distracted by the readable
    <br>content of a page when looking at its layout<br>
    The pointof using Lorem Ipsum is has a more-or-less norml distribution of letters</p>
  <div class="container-c">
        <div class="address">
            <div class="mail"><strong>Mail</strong></div>
            <a class="mail-address" href="/">xxx@xxx.com</a>
            <div class="tell"><strong>Tell</strong></div>
            <a class="tell-nunber" href="/">000-0000-0000</a>
        </div>
        <div class="sns">
            <div class="mail"><strong>SNS</strong></div>
    <div class="icon2">
        <div class="icon2-container">
<i class="fa-brands fa-twitter"></i>
<i class="fa-brands fa-facebook-f"></i>
<i class="fa-brands fa-instagram"></i>
    </div>

        </div>
  </div>
</div>
</main>

</body>
</html>
